.inner-explaination{
    text-align: center;
}
.main-description{
    margin: 40px 70px;
    background-color: #000;
    border-radius: 30px;
    padding: 40px 30px;
    height: 240px
}
.description{
    text-align: left;
    color: #18ce2e!important;
}

.logo-part{
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  #video-bg {
    /* transform: translate(-50%, -50%); */
    min-width: 50%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
  }
  #video-bg::-webkit-media-controls {
    display: none !important;
  }
  
  #video-bg::-webkit-media-controls-enclosure {
    display: none !important;
  }
  
  #video-bg::-webkit-media-controls-panel {
    display: none !important;
  }
  
  #video-bg::-webkit-media-controls-play-button {
    display: none !important;
  }
  
  #video-bg::-webkit-media-controls-timeline {
    display: none !important;
  }
  
  #video-bg::-webkit-media-controls-current-time-display {
    display: none !important;
  }

  @media (max-width: 1099px) {
    .main-description{
      height: 300px
    }
  }
  @media (max-width: 869px) {
    .main-description{
      height: 350px
    }
  }

  @media (max-width: 725px) {
    .main-description{
      height: 400px
    }
  }
  @media (max-width: 659px) {
    .main-description{
      height: 480px
    }
  }
  @media (max-width: 579px) {
    .main-description{
      height:550px
    }
  }
  @media (max-width: 530px) {
    .main-description{
      height:630px
    }
  }
  @media (max-width: 499px) {
    .main-description{
      margin: 40px 20px;
      border-radius: 30px;
      padding: 40px 10px;
      height:500px
    }
  }
  @media (max-width: 399px) {
    .main-description{
      margin: 40px 20px;
      border-radius: 30px;
      padding: 40px 10px;
      height:550px
    }
  }