.inside-home {
  background-color: #fff;
  padding: 100px 40px 150px 40px;
}
.header-title{

}
.logo-part{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#video-bg {
  /* transform: translate(-50%, -50%); */
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
}
#video-bg::-webkit-media-controls {
  display: none !important;
}

#video-bg::-webkit-media-controls-enclosure {
  display: none !important;
}

#video-bg::-webkit-media-controls-panel {
  display: none !important;
}

#video-bg::-webkit-media-controls-play-button {
  display: none !important;
}

#video-bg::-webkit-media-controls-timeline {
  display: none !important;
}

#video-bg::-webkit-media-controls-current-time-display {
  display: none !important;
}
.play-link{
  color: black;
  margin-top: 50px;
}
.dice-img{
  margin-top: 50px;
  margin-bottom: 30px;
}
.play-link:hover{
  text-decoration: none;
  color: black;
}
video::-webkit-media-controls-play-button {
  display: none;
}

video::-webkit-media-controls-start-playback-button {
  display: none;
}